body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.button-menu {
  position:absolute;
  top: 0px;
  left: 0px;
}

.button-menu .button-menu-item{

    background-color: #ffffff;
    border: 1px solid rgb(197, 197, 197);
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 10vh;
    height: 10vh;
    display: block;


  /* position: absolute;
  top: 0px;
  left: 0px;
  border-width:  1px;
  border-color: black; */
}

.button-menu .button-menu-item:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.button-menu .button-menu-item:hover {
  background-color: #8b8989;
}

/* button {
  background-color: white;
  border: none;
}

.button-menu .button-menu-item:hover {
  background-color: rgb(219, 219, 219);
} */

img.menu {
  width: 5vw;
  height: 7vh;
  /* padding: 10vh; */
}


